node_modules/
src/apps/cli/src/generated/

dist/
src/lib/descriptors/generated/

.turbo/

target/

*.polkavm
*.car

*.lock
*-lock.yaml
!pnpm-lock.yaml
*-lock.json

src/templates/*/**/.cdm/
!src/templates/*/.papi/descriptors/dist/

reference-repos/

ppn/

cdm.local.json

.DS_Store
